<h1>新しいイベント情報作成結果</h1>
<% if @save_checker %>
  <p>以下のイベント情報の作成を行いました。<p>
  <p>Title: <%= @events.title %></p>
  <p>Content: <%= @events.content %></p>
  <p>Place: <%= @events.place %></p>
  <p>Start_at: <%= @events.start_at %></p>
<% else %>
  <p>最新情報の保存に失敗しました。</p>
<% end %>
<p><%= link_to 'イベント情報一覧に戻る', {:controller => "events", :action => "index"} %></p>
