<h1>Places</h1>

<%= link_to 'New Name', new_admin_place_path %>

<table>
  <tr>
    <th>id</th>
    <th>name</th>
  </tr>

  <% @places.each do |place| %>
    <tr>
      <td><%= place.id %></td>
      <td><%= place.name %></td>
      <td><%= link_to 'Edit', edit_admin_place_path(:admin_id, place) %></td>
      <td><%= link_to 'Destroy', admin_place_path(:admin_id, place),
                  method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', '/' %>
