<h1>最新情報一覧</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @information.each do |information| %>
      <tr>
        <td><%= information.title %></td>
        <td><%= link_to 'Show', {:controller => "information", :action => "show", :id => information.id}, {:method => :get} %></td>
        <td><%= link_to 'Edit', {:controller => "information", :action => "edit", :id => information.id}, {:method => :get} %></td>
        <td><%= link_to 'Destroy', {:controller => "information", :action => "new"}, {:method => :get} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<p><%= link_to '新しい最新情報の作成', {:controller => "information", :action => "new"} %></p>
<p><%= link_to '管理画面トップページに戻る', root_path(:admin_id) %></p>
