<h1>最新情報詳細</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Place</th>
      <th>Start_at</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @information.title %></td>
        <td><%= @information.content %></td>
        <td><%= @information.place %></td>
        <td><%= @information.start_at %></td>
        <td><%= link_to 'Edit', {:controller => "information", :action => "new"}, {:method => :get} %></td>
        <td><%= link_to 'Destroy', {:controller => "information", :action => "new"}, {:method => :get} %></td>
      </tr>
  </tbody>
</table>

<p><%= link_to '最新情報一覧に戻る', {:controller => "information", :action => "index"} %></p>
